@import url(./styles.css);

.descriptionArticle {
    display: flex;
  }
  
  .descriptionArticleImage {
    width: 50%;
  }
  
  .descriptionArticleCard {
    display: flex;
    flex-direction: column;
  }
  .descriptionArticleTitle {
    color: #333333;
    font-size: 50px;
    margin-bottom: 5%;
  }
  
  /*comienza*/
  
  #scheduleButton,
  #trackingButton,
  #organizeButton {
    display: inline-block;
    width: 48%;
    margin-right: 5%;
    text-align: center;
    font-size: 16px;
    box-sizing: border-box;
    padding: 12px 15px; 
    transition: background-color 0.3s, box-shadow 0.3s;
  }
  
  #scheduleButton:hover,
  #trackingButton:hover,
  #organizeButton:hover {
    background-color: #9b979f; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
  }

#organizeButton {
  display: block;
  width: 100%;
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  box-sizing: border-box;
}

#scheduleButton {
padding: 8px 10px 8px 10px; 
background-color:#9a67e7;
color:white; 
font-weight: bold;
border: none;
width: 100px;

}

#trackingButton {
padding: 8px 10px 8px 10px; 
background-color:white; 
color:  #777777;
font-weight: bold;
border: none;
width: 100px;

}

#organizeButton {
margin-top: 10px;
padding: 8px 10px 8px 10px; 
background-color:white; 
color:  #777777;
font-weight: bold;
border: none;
width: 100px;
}

descriptionArticleMenuButton {
  display: flex;
  align-items: center;
}

.descriptionArticleMenuButton img {
  margin-right: 10px;}

  /*acaba*/
  .descriptionArticleParagraph {
    font-family: var(--fontFamily);
    color: #777777;
    text-align: left;
    margin-left: 0;
    font-size: 18px;
    margin-bottom: 5%;
    line-height: 200%;
  }
  /*lista*/
  .descriptionArticlePoint {
    list-style-type: square;
    margin-left: 10px;
    color: #777777;
  
  }

  .descriptionArticlePoint li {
      margin-top: 10px;
      margin-bottom: 10px;
  }





  .descriptionArticleList li {
    position: relative;
    line-height: 1.6;
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  
  .descriptionArticleList li::before {
    content: "\f00c";
    font-family: "Font Awesome 5 Free";
    font-weight: 700;
    color: #29dba6;
    font-size: 8px;
    margin-right: -80px;
    border: 2px solid #29dba6;
    border-radius: 4px;
    padding: 3px;
  }
  
  .descriptionArticleList p {
    margin-top: 10px;
    line-height: 2;
    color: grey;
    text-align: left;
  }
  
  
  .descriptionArticleButton {
     background-color: #ff556e;;
    width: 150px;
    color: rgba(247, 250, 253, 1);
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: bold;
    border-radius: 25px;
    border: solid 2px #ff556e;
    padding: 10px 25px 10px 25px;
    display: inline-block;
    margin-top: 15px;
  }
  
  .descriptionArticleButton:hover {
    background-color: #f7fafd;
    color: #ff556e;
    transform: scale(1.1);
  }
  
  #descriptionArticlePrivacyButton {
    background-color: white;
    width: 150px;
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: bold;
    border-radius: 25px;
    border: solid 2px black;
    padding: 10px 25px 10px 25px;
    display: inline-block;
    margin-top: 15px;
}
  
  #descriptionArticlePrivacyButton:hover {
    background-color: #f7fafd;
    color: #ff556e;
    transform: scale(1.1);
  }
